/sesiones/ConceptosBasicos/nbproject/private/
/sesiones/ConceptosBasicos/build/
/sesiones/ReutilizacionDeCodigo/nbproject/private/
/sesiones/ReutilizacionDeCodigo/build/
/tareas/Libro/nbproject/private/
/tareas/Reutilizaciondecodigo/nbproject/private/
/tareas/Reutilizaciondecodigo/build/
/tareas/composicion/nbproject/private/
/tareas/TareaDeComposicion/nbproject/private/
/tareas/TareaDeComposicion/build/
/tareas/TareaDeComposicio/nbproject/private/
/tareas/TareaComposicion/nbproject/private/
/tareas/TareaComposicion/build/
